@import "./../../node_modules/cwf-lite/dist/index.css" layer(cwf-lite);

/* @layer cwf-lite {
  .cwf-example {
    & .cwf-example__inner {
      border-width: 1px 1px 0;
      border-style: solid;
      border-color: var(--sl-color-gray-5);
      padding: 1rem;
    }

    & .expressive-code {
      margin-top: 0 !important;
    }
  }
} */
