---
import { Code } from "@astrojs/starlight/components";
import CWFComponent from "./CWFComponent.astro";

interface Props {
  code: string;
  style: string;
  override?: string;
}

const { code, style, override } = Astro.props;
---

<!-- Component Template (HTML + JS Expressions) -->
<div class="cwf-example not-content">
  <div class="cwf-example__inner">
    <CWFComponent content={code} override={override} />
  </div>
  <Code code={code} lang="html" />
  {style && <Code code={style} lang="css" />}
</div>

<style>
  .cwf-example {
    & .cwf-example__inner {
      border-width: 1px 1px 0;
      border-style: solid;
      border-color: var(--sl-color-gray-5);
      padding: 1rem;
    }

    & .expressive-code {
      margin-top: 0 !important;

      & + .expressive-code {
        margin-top: -1px !important;
      }
    }
  }
</style>
